.metadata
bin/
tmp/
logs/
target/
.idea/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings
.loadpath
.recommenders
.classpath
.project
.class
.idea
*.iml
.externalToolBuilders/
*.launch
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
.idea/
/.vscode/launch.json
**/order-service/export/**
